<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type='image/ico' href="static/icon.ico">
    <title> BMI calculation </title>
  </head>
  <body>
    <h1 style="text-align: center;"><strong><span style="color: #000000;">BMI calculation</span></strong></h1>
    <h3 style="text-align: center;">Your BMI:
      <span style="color: #ff0000;">{{posts[0]}}</span>
    </h3>
    <h3 style="text-align: center;">Result:
      <span style="color: #ff0000;">{{posts[1]}}</span>
    </h3>
  </body>
</html>
