.bg-gray{
  background: rgba(103, 101, 107, 0.74);
}
.w-15{
  width: 15%;
}

.w-24{
  width: 24%;
}
.w-25{
  width: 25%;
}
.w-35{
  width: 35%;
}
.w-60{
  width: 60%;
}
.w-85{
  width: 85%;
}
.bg-red{
  background: rgb(223, 60, 60);
}

#row{
  display: flex;
  flex-direction: row;
}
#row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.m-b15{
  margin-bottom: 15px;
}
.m-b5{
  margin-bottom: 5px;
}
.bg-green{
  background: rgb(159, 250, 163);
}
.bg-green1{
  background: rgb(65, 215, 34);
}
.bg-green2{
  background: rgb(16, 99, 13);
}
.bg-black{
  background: black;
}
.bg-white{
  background: white;
}
.m-r10{
  margin-right: 20px;
}
.m-t50{
  margin-top:50px;
}
.m-t350{
  margin-top:350px;
}
.m-r100{
  margin-right: 100px;
}
.m-l100{
  margin-left:100px;
}
.m-b20{
  margin-bottom:20px;
}
.bg-page-logo{
  background: url(static/images/page-logo.png) center no-repeat;
  background-size: contain;
}
.h-200{
  height: 200px;
}
.h-600{
  height: 600px;
}
.h-50{
  height: 50px;
}
.h-70{
  height: 70px;
}
#center{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#center-x2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-header{
  background: url(static/images/header.jpg) center;
  background-size: cover;
}
.bg-lightgreen{
  background: rgb(195, 254, 238);
}
.border-green{
  border: 1px solid rgb(46, 241, 46);
}
