<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand font-montserrat" href="#">Mùa đông không lạnh</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
<ul class="navbar-nav">
  {% if session %}
  <h3 style="text-align: right;">{{session.loggedin}}</h3>
  <h3 style="text-align: right;">{{session.account}}</h3>
  <li class="nav-item">
    <a class="nav-link text-light" href="{{url_for('logout')}}">Đăng xuất</a>
  </li>
  {%else%}
  <li class="nav-item active">
    <a class="nav-link text-green" href="{{url_for('login')}}"> Đăng nhập<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('signin')}}">Đăng ký</a>
  </li>
  {%endif%}

</ul>
</div>
</nav>
