<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type='image/ico' href="../static/love.ico">
    <title>Let's Love</title>
    {% include 'meta-data.html' %}
  </head>
  <body>
    {%include 'homepage/navigation.html '%}
    {%include 'homepage/carousel.html '%}
    <div class="in text-center">
      <h2 class="mtb-50px">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h2>
      <i><font size="5">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư cũng như quyết định của bản thân"</font></i>
    </div>
    {%include 'homepage/choose.html'%}
    {%include 'homepage/vote.html'%}
    <div class="d-flex justify-content-center ">
      <div  class="w-95">
        <h2 class="mtb-50px text-center">Các gói dịch vụ</h2>
        <div id="center" >
          <div id="center" class="d-flex flex-wrap justify-content-around w-90">
            <div class="border h-200px w-20 mb-50px ">
              <div class="w-95">
                <h3>Gói cơ bản</h3>
              </div>
              <hr>
              <div class="w-95">
                <h5>Dẫn bạn về ra mắt</h5>
                <h5>Ăn cơm cùng gia đình</h5>
                <h5>Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</h5>
                <h5>Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h5>
              </div>
            </div>
            <div class="border h-200px w-20 mb-50px ">
              <div class="">
                <h3>Gói cơ bản</h3>
              </div>
              <hr>
              <div class="">
                <h5>Dẫn bạn về ra mắt</h5>
                <h5>Ăn cơm cùng gia đình</h5>
                <h5>Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</h5>
                <h5>Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h5>
              </div>
            </div>
            <div class="border h-200px w-20 mb-50px ">
              <div class="">
                <h3>Gói cơ bản</h3>
              </div>
              <hr>
              <div class="">
                <h5>Dẫn bạn về ra mắt</h5>
                <h5>Ăn cơm cùng gia đình</h5>
                <h5>Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</h5>
                <h5>Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
