<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa đông không lạnh</title>
  </head>
  <body>
    <h1>Mùa đông không lạnh</h1>
    {%for service in all_service%}
      <div>
        {% if service.gender==1 %}
        <img src="../static/male-profile.jpg" alt="image">
        {% endif %}
        {% if service.gender==0 %}
        <img src="../static/female-profile.jpg" alt="image">
        {% endif %}
        <p>Name: {{service.name}}</p>
        <p>yob: {{service.yob}}</p>
        <p>gender: {{service.gender}}</p>
        <p>phone: {{service.phone}}</p>
        <hr>
      </div>
    {%endfor%}
  </body>
</html>
