<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- <h1>CSS demo</h1>
    <h2>Heading</h2>
    <h2 class="text-right">level 2</h2>
    <h2 id='Heading-2'>Another</h2>
    <h1 class="text-right">Heading level 1</h1> -->
    <!-- <h4 class="text-red text-upper font-IndieFlower">daily shouts</h4>
    <h1 class="text-upper font-IndieFlower">the idea of someone</h1>
    <span class="font-bold">by xyz   </span>
    <span>   2018</span> -->
    <div class="lightgreen">
      background
    </div>
    <div id="background">
      background
    </div>
    <div class="lightgreen">
      background
    </div>
  </body>
</html>
